[submodule "thirdparty/nlohmann"]
	path = thirdparty/nlohmann
	url = https://github.com/nlohmann/json
[submodule "thirdparty/flashinfer"]
	path = thirdparty/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer.git
